/* color: #F890E7; pink */
/*  color: #0BD3D3 turquoise*/

body{
    background-color: grey;
    text-align: center;
}

h1{
    font-family: cursive;
    font-size: 40px;
    color: #F890E7;
    text-align: center;
    margin-top:  10%;
}
canvas{
    display: block;
    margin: 0 auto;
    background-image: url('https://opengameart.org/sites/default/files/styles/medium/public/background-1_0.png');
    background-size: contain;
}
button{
margin-bottom: 40px;
}